<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">mealplan.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--Navbar content-->
        <li *ngFor="let navlink of navLinks" class="nav-item " [ngClass]="navlink.dropdown!=undefined?'dropdown':''"
            [ngSwitch]="navlink.dropdown===undefined">
          <!--Regular link-->
          <a *ngSwitchCase="true"
             class="nav-link px-3"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]=" navlink.routerLink "
          >
            <i *ngIf="navlink.iconClass!==undefined" [ngClass]="navlink.iconClass"></i> {{ navlink.text }}
          </a>
          <!--Dropdown-->
          <div *ngSwitchCase="false">
            <a class="nav-link  dropdown-toggle px-3"
               [id]="navlink.id"
               role="button"
               [routerLink]="['/recipes']"
               [routerLinkActive]="'active-link'"
               [routerLinkActiveOptions]="{ exact: false }"
               data-bs-toggle="dropdown"
               aria-expanded="false"
            >
              <i *ngIf="navlink.iconClass!==undefined" [ngClass]="navlink.iconClass"></i> {{ navlink.text }}
            </a>
            <ul class="dropdown-menu  navbar-dropdown" [attr.aria-labelledby]="navlink.id">
              <li class="px-2" *ngFor="let dropdownItem of navlink.dropdown">
                <a class="dropdown-item navbar-dropdown"
                   routerLinkActive="active-link"
                   [routerLink]="dropdownItem.routerLink "
                   [routerLinkActiveOptions]="{ exact: true }">
                  {{dropdownItem.text}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!--      Profile section-->
      <div class="navbar-profile position-relative " [ngSwitch]="isLoggedIn()">
        <div *ngSwitchCase="true">
          <div class="dropdown-toggle" id="profileButton" data-bs-toggle="dropdown" aria-expanded="false">
            {{getUsername()}}
          </div>
          <ul class="dropdown-menu dropdown-menu-end  navbar-dropdown" aria-labelledby="profileButton">
            <li class="px-2">
              <div class="dropdown-item navbar-dropdown" (click)="logOut()"> Log out</div>
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="false">
          <a class="navbar-brand" routerLink="/">Sign in</a>
        </div>
      </div>
    </div>
  </div>

</nav>
