.navbar, .navbar-dropdown{
  color:var(--color-white);
    background-color: var(--color-dark);
}
.navbar{
  color:var(--color-white);
  padding-top: 0.1rem;
  padding-bottom: 0;
  padding-inline: 0.5rem;
  background-color: var(--color-dark);
}
.navbar-brand{
  color: var(--color-medium-light);
  padding:inherit;
  border-bottom: 0.2rem solid transparent;

}

.nav-link{
  padding-block: 0.45rem;
}
.active-link {
  font-weight: 400;
  border-bottom: 0.2rem solid var(--color-white);
}
#img-profile{
  height:3rem;
}
.navbar-profile{
  width: fit-content;
}
