<form [formGroup]="recipeFilterForm">
    <div>
        <label for="recipeName">Recipe name</label>
    </div>
    <div>
        <ng-multiselect-dropdown
                id="recipeName"
                placeholder="Search..."
                [settings]="dropdownSettings"
                [data]="allRecipes"
                formControlName="recipeName"
        >
        </ng-multiselect-dropdown>
    </div>
</form>

<button type="button" class="btn btn-default" (click)="sendFilter()">Find recipes</button>
