<div class="pt-5">
    <footer class="text-center small p-1">
        © {{ currentYear }} Saya Deprez
        <a
                class="text-secondary small"
                href="https://www.linkedin.com/in/saya-deprez-951346b4/?locale=nl_NL/"
        >
            <i class="fa-brands fa-linkedin-in"></i
            ></a>
        and Kevin Uyttebroeck
        <a
                class="text-secondary small"
                href="https://www.linkedin.com/in/kevinuyttebroeck/"
        >
            <i class="fa-brands fa-linkedin-in"></i
            ></a>
    </footer>
</div>
