<div class="col card-container">
  <div class="card h-100">
    <div class="img-container">
      <a [routerLink]="'/recipes/'+recipe.id">
        <img class="card-img" [src]="getRecipeImgUrl()" [alt]="'Image of '+recipe.name">
      </a>

    </div>
    <div class="container pt-2">
      <h5 class="card-title col-12"><a [routerLink]="'/recipes/'+recipe.id">
        {{ recipe.name }}
      </a></h5>
    </div>
    <div class="card-body container d-flex pt-0 pb-1">
      <div class="row">
        <div class="card-text col-12 align-self-start">
          {{ getRecipeDescription()}}
        </div>
        <div class="col-12 align-self-end">
          <a [routerLink]="'/recipes/'+recipe.id">
            View recipe
          </a>
        </div>
      </div>
    </div>
    <div class="card-footer py-1 mt-1">
      <!--      Last updated 3 mins ago  -->
      by
      {{recipe.author.username}}
      <!--      <a [routerLink]="'/users/'+recipe.author.id">-->
<!--      <div [title]="''+recipe.author.username+''">-->
<!--      </div>-->
    </div>
  </div>
</div>
