<div class="container-fluid hero-section-bg  d-flex align-items-end align-items-sm-center" id="register">
    <div class="container p-0">
        <div class="row p-3 p-sm-2 justify-content-start justify-content-sm-end  justify-content-md-start         ">
            <div class="col-10 col-sm-6 text-start text-sm-end text-md-start bg-light bg-opacity-75">
                <div class="pb-4 pt-2 " id="hero-title">
                    <h1 class="display-5 fw-bold">
                        Plan your meals with us.
                    </h1>
                </div>
              <div [ngSwitch]="isLoggedIn()">
                <app-logged-in-dashboard *ngSwitchCase=true></app-logged-in-dashboard>
                <app-register-or-login *ngSwitchCase=false></app-register-or-login>
              </div>
            </div>
        </div>
    </div>
</div>
