<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Recipes</h1>
<!--                Filter-->
                <button class="btn btn-toggle mb-1" (click)="toggleDisplayFilter()">
                    {{isShowFilter ? "Close filter" : "Show filter"}} <i class="fa-solid small" [ngClass]="isShowFilter?'fa-caret-up':'fa-caret-down'"></i></button>
                    <app-recipe-filter [hidden]="!isShowFilter"></app-recipe-filter>
<!--                Recipe cards-->
                <div class="row row-cols-1 p-2 row-cols-sm-2 row-cols-md-3 g-4">
                    <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-card>
                </div>
            </div>
        </div>
    </div>
</div>
