<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-0"
>
  <div class="card-container p-2">
    <div class="card capitalize-text">
      <div class="image-container p-2">
        <img [ngSrc]="getRecipeImgUrl()" [alt]="'Image of '+recipe.name">
      </div>

      <div class="card-content d-flex flex-column">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">
            {{ getRecipeDescription()}}
          </p>
          <div class="col-12">
            <a [routerLink]="'/recipes/'+recipe.author.id">
            <button class="btn btn-default" role="button">
              View recipe
            </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
