<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Create a recipe</h1>
      <form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
        <div>
          <mat-form-field>
            <mat-label>Recipe name</mat-label>
            <input matInput formControlName="recipeName" id="recipeName" placeholder="Enter a value." value="">
          </mat-form-field>
        </div>

        <label for="description">Description</label>
        <div>
          <mat-form-field >
            <mat-label>Recipe description</mat-label>
            <textarea matInput formControlName="description" id="description" placeholder="Enter a value."></textarea>
          </mat-form-field>
        </div>

      </form>
    </div>

  </div>
</div>
