<!--  based on toggle, show log in or register text.        -->
<!--Proposal: create separate component to register or log in,
passing the toggled variable true/false adjusting text accordingly-->
<div class="small">

  Already a user? Click here to log in.
  <br>
  Not a user yet? Click here to register.
</div>

<!--          <div class="pt-4">-->
<!--            <a routerLink="/order">-->
<!--              <button class="btn btn-default" role="button">Order here</button>-->
<!--            </a>-->
<!--          </div>-->
