/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}
h1{
  font-weight: 100;
  font-size: xx-large;
}

.container-fluid{
  padding:0;
  margin: 0;
}
