
:root {
    /* Colors */
    --color-white: white;
    --color-black: var(--color-muted);
    --color-base: #eeeadc;
    --color-light-light: #f8ebb5;
    --color-bright: #fee34e;
    --color-bright-light: #fafa33;
    --color-light: #f8a663;
    --color-light-dark: #ff6f22;
    --color-medium-light: #90cf44;
    --color-medium-dark: #59B512;
    --color-medium-darkest: #376e0d;

    /*--color-medium-alt: #8A3E73;*/
    --color-dark: rgba(49, 18, 105);
    --color-muted: rgba(34, 39, 47, 0.82);
    --color-warning: #FF282A;

}

body {
  margin: 0;
    background-color: var(--color-light-light);
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-black);
}

h1 { /*Use for page titles only*/
    font-weight: 100;
    font-size: xx-large;
    color: var(--color-medium-dark);
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
}

h2 { /*Use for in page titles only*/
    font-weight: 300;
    padding-bottom: 0.5rem;
}

h5 { /*  Used for card titles*/
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.warning-text-form {
    color: var(--color-warning);
    font-weight: 400;
    font-size: small;
}
.filter-form, .filtered-content{
    background-color: var(--color-white);
    border-color: var(--color-medium-dark);
    border-width: 2px;
    border-radius: 0.5rem;
    border-style: solid;
}

.filtered-content{
    margin-top:1rem;
    padding:1rem;
}
.btn {
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 300;
    --bs-btn-padding-x: 0.8rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-line-height: 1.5rem;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    border-radius: 1rem;
    width: 8rem;
}

.btn-default {
    --bs-btn-color: var(--color-white);
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-bg: var(--color-medium-dark);
    --bs-btn-hover-bg: var(--color-medium-light);
}
.btn-important {
    --bs-btn-color: var(--color-white);
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-bg: var(--color-light-dark);
    --bs-btn-hover-bg: var(--color-light);
}

.btn-disabled {
    --bs-btn-color: var(--color-muted);
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: transparent;
    --bs-btn-border-color: var(--bs-btn-color);
    --bs-btn-hover-border-color: var(--bs-btn-color);
}



.img-container-40vh {
    max-height: 40vh;
}

.img-inheriting-height {
    max-height: inherit;
    max-width: 100%;
}
.list{
    padding-block: 0.2rem;
}

label {
    font-size: small;
}
.dropdown-item{
    font-weight: 300;
    font-size: 0.9rem;
}
form {
    --bg-color: var(--color-white);
    --base-color: var(--color-medium-darkest);
    --border-color: var(--color-medium-dark);

    text-align: left;
    vertical-align: middle;
    font-size: small;

    .search-field, .multiselect-dropdown .dropdown-btn {
        background-color: var(--bg-color);
        display: inline-block;
        width: 100%;
        border: 1px solid var(--border-color) !important;
        padding: 6px 12px;
        margin-bottom: 0;
        line-height: 1.52857143;
        cursor: pointer;
        border-radius: 4px;
    }

    .multiselect-dropdown .dropdown-btn .selected-item {
        border: var(--border-color) !important;
        border-radius: 2px !important;
        margin-right: 4px;
        margin-bottom: 2px;
        background: var(--base-color) !important;
        padding: 0 5px;
        float: left;
    }

    .dropdown-list {
        padding-top: 0.1rem !important;
        border: 1px solid var(--border-color) !important;
        background: var(--bg-color) !important;
        box-shadow: 0 1px 5px var(--border-color) !important;

        & li {
            padding: 0.35rem 0.6rem !important;
            cursor: pointer;
        }
    }

    .multiselect-item-checkbox input[type='checkbox']:focus + div:before,
    .multiselect-item-checkbox input[type='checkbox']:hover + div:before {
        border-color: var(--base-color) !important;
        background-color: var(--base-color) !important;
    }

    .multiselect-item-checkbox input[type='checkbox'] + div:before {
        color: var(--base-color) !important;
        border: 2px solid var(--base-color) !important;
    }

    .multiselect-item-checkbox input[type='checkbox'] + div:after {
        background-color: var(--base-color) !important;
    }
    .multiselect-item-checkbox input[type='checkbox']:checked + div:before {
        animation: borderscale 200ms ease-in;
        background: var(--base-color) !important;
    }
}



html, body { height: 100%; }
