<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{recipe.name}}</h1>
      <div> by
        <!--      <a [routerLink]="'/users/'+recipe.author.id">-->
        <a href="#" [title]="'Go to '+recipe.author.username+' profile page.'">
          {{recipe.author.username}}
        </a> </div>
      <!--      IMG GOES HERE-->
      <div class="col-12 img-container-40vh ">
        <img [src]="recipe.imgUrl" class="img-inheriting-height" alt=""/>
      </div>
      <!--      IMAGE STOPS HERE-->

      <h2>Ingredients</h2>
      <ul>
        <div *ngFor="let ingredient of recipe.ingredients; let i =index">
          <li>{{ingredient.qty}} {{ingredient.foodUnit.name}} {{ingredient.ingredient.name}}</li>
        </div>
      </ul>

      <h2>Instructions</h2>
      <ol>
        <div *ngFor="let instruction of recipe.instructions; let i =index">
          <li>{{instruction.step}} {{instruction.instruction}}</li>
        </div>
      </ol>


      <!--      <div class="pokemon-types">-->

      <!--&lt;!&ndash;        todo:change app pokemon to recipe ingredients&ndash;&gt;-->
      <!--&lt;!&ndash;        nice to have; symbols w every food type?&ndash;&gt;-->
      <!--&lt;!&ndash;        <app-pokemon-type&ndash;&gt;-->
      <!--&lt;!&ndash;          *ngFor="let type of pokemon.types"&ndash;&gt;-->
      <!--&lt;!&ndash;          [type]="type"&ndash;&gt;-->
      <!--&lt;!&ndash;        ></app-pokemon-type>&ndash;&gt;-->
      <!--      </div>-->
    </div>

  </div>
</div>
