<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ recipe.name }}</h1>
      <div> by

        <a href="#" [title]="'Go to '+recipe.author.username+' profile page.'">
          {{ recipe.author.username }}
        </a></div>
      <!--      IMG GOES HERE-->
      <div class="col-12 img-container-40vh ">
        <img [src]="recipe.imgUrl" class="img-inheriting-height" alt=""/>
      </div>

      <h2>Ingredients</h2>
      <ul>
        <div *ngFor="let ingredient of recipe.ingredients">
          <li>{{ ingredient.qty }} {{ ingredient.foodUnit.name }} {{ ingredient.ingredient.name }}</li>
        </div>
      </ul>

      <h2>Instructions</h2>
      <ol>
        <div *ngFor="let instruction of recipe.instructions">
          <li> {{ instruction.instruction }}</li>
        </div>
      </ol>
    </div>

  </div>
</div>
